body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23FFFFFF' stroke-width='0.1' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFFFFF'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
      main {
        padding: 6rem 1rem 2rem 1rem; /* Ajustar el padding-top para dar espacio al navbar */
      }
      section {
        margin-bottom: 2rem;
      }

      h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }
      .widget-row {
        display: flex;
        justify-content: space-around;
        gap: 1rem; /* Space between widgets */
        flex-wrap: wrap; /* Ensure widgets wrap on smaller screens */
      }
      .widget-container {
        flex: 1;
        max-width: 500px; /* Same width for uniformity */
        margin: 0 1rem;
      }
      .widget-container h3 {
        margin-bottom: 1rem;
      }
      .fb-page,
      .instagram-media,
      .tiktok-embed {
        width: 100%;
      }


      
   
   
      .news-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
   
      .news-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
      }
      .news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.news-large {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ff0000; /* Rojo para la noticia grande */
}

.news-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
}

.news-small {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ff6600; /* Naranja para las noticias pequeñas */
  height: 80%;

}

.news-large img {
  padding: 1rem; /* Ajusta el valor según lo necesites */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */

  width: 100%;
  height: auto;
}

.news-content h3,
.news-content p {
  color: #ffffff; /* Blanco para el título y la descripción */
}
.news-small img {

  padding: 1rem; /* Ajusta el valor según lo necesites */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  width: 100%;
  height: 50%;
}

@media (max-width: 768px) {
  .news-row {
    grid-template-columns: 1fr;
  }
}

  
      .news-content {
        padding: 1rem;
      }
      .news-content h3 {
        margin: 0 0 0.5rem;
      }
      .news-content p {
        margin: 0 0 1rem;
      }
      .btn {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
      }
      .news-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
        margin-top: 2rem;
      }

      @media (max-width: 768px) {
    .widget-row {
      flex-direction: column; /* Coloca las redes sociales en una columna */
      align-items: center;
    }

    .news-container {
      flex-direction: column; /* Alinea las noticias en una columna */
    }

    .news-column {
      flex-direction: column; /* Asegura que las dos noticias se alineen en columna */
    }

    .news-grid {
      grid-template-columns: 1fr; /* Muestra las noticias en una sola columna */
    }

  

    .btn {
      width: 90%;
      text-align: center;
    }

    .news-small {
  height: auto;

}
  }

  h2 {
text-align: center;
margin-bottom: 2rem;
font-size: 2rem;
color: #ff6600;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.related-news h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #ff6600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
h4{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #ff6600;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.6);
}
.container {
display: flex;
justify-content: center;
gap: 2rem;
flex-direction: row;
}

.news-detail {
flex: 3;
padding: 1rem;
border: 1px solid #ddd;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background-color: #f9f9f9;
}

.news-image {
width: 100%;
height: auto;
margin-bottom: 1rem;
}

.news-text {
padding: 1rem;
}

.news-text h1 {
text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.news-text p {
margin: 0;
font-size: 1rem;
}

.news-not-found {
text-align: center;
padding: 2rem;
}

.related-news {
flex: 1;
display: flex;
flex-direction: column;
gap: 1rem;
background-color: #f9f9f9;
}

.related-news h3 {
text-align: center;
margin-bottom: 1rem;
}

.related-news-item {
display: flex;
flex-direction: column;
border: 1px solid #ddd;
border-radius: 8px;
overflow: hidden;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.related-news-item img {
width: 100%;
height: auto;
}

.related-news-content {
padding: 1rem;
}

.related-news-content h4 {
margin: 0 0 0.5rem;
}

.related-news-content p {
margin: 0 0 1rem;
}

.btn {
display: inline-block;
padding: 0.5rem 1rem;
background-color: #007bff;
color: #fff;
text-decoration: none;
border-radius: 4px;
}

.highlight {
color: #f57c00; /* Color naranja */
font-weight: bold;
}


.header {
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
margin-bottom: 1rem;

}

.back-button {
display: inline-flex;
align-items: center;
justify-content: center;
width: 50px;
height: 50px;
background-color: #003366;
border-radius: 50%;
color: white;
text-decoration: none;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
background-color: #FF7F50; /* Naranja */
transform: scale(1.1);
}

.back-button svg {
width: 24px;
height: 24px;
}

.spacer {
flex: 1;
}

.title {
text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}



/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {

.news-text h1 {
text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

    h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #ff6600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
h4{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #ff6600;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.6);
}
.container {
  flex-direction: column;
  gap: 1rem;
}

.news-detail, .related-news {
  width: 100%;
}

.related-news {
  margin-top: 1rem;
}
}