---
// Facebook.astro
---

<div class="widget-container">
  <a href="https://www.facebook.com/evoldep" target="_blank"><h3>Facebook</h3></a>

  <div
    class="fb-page"
    data-href="https://www.facebook.com/evoldep"
    data-tabs="timeline"
    data-width="500"
    data-height=""
    data-small-header="false"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/evoldep"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/evoldep">Club Deportivo Evoldep</a>
    </blockquote>
  </div>
</div>

<style>
  .widget-container {
    width: 30%;

    overflow: hidden;
  }
  a {
  text-decoration: none;
}

  h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 768px) {
    .widget-container {
    width: 90%;

    overflow: hidden;
  }

  h3 {
    font-size: 1.5rem;
  }
  }
</style>
