---
// Instagram.astro
---

<div class="widget-container">
  <h3>Instagram</h3>
  <blockquote
    class="instagram-media"
    data-instgrm-permalink="https://www.instagram.com/evoldep/?hl=es"
    data-instgrm-version="12"
    style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:undefinedpx;height:undefinedpx;max-height:100%; width:undefinedpx;"
  >
    <div style="padding:16px;">
      <a
        id="main_link"
        href="evoldep/?hl=es"
        style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
        target="_blank"
      >
        <!-- Instagram embed code continues... -->
      </a>
    </div>
  </blockquote>
  <script async src="https://www.instagram.com/embed.js"></script>
</div>
<style>
  .widget-container {
    width: 30%;
    overflow: hidden;
  }

  h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 768px) {
    .widget-container {
    width: 90%;

    overflow: hidden;
  }

  h3 {
    font-size: 1.5rem;
  }
  }
</style>
