<nav class="navbar">
    <div class="container">
      <a href="/" class="logo">Club Evolución Deportiva</a>
      <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/actividades">Actividades y Torneos</a></li>
        <li><a href="/noticias">Noticias y Destacados</a></li>
        <li><a href="/contacto">Contáctenos</a></li>
        <li>
          <a href="https://twitter.com/tu_usuario" target="_blank">
            <img src="/icons/twitter.svg" alt="Twitter" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com/tu_usuario" target="_blank">
            <img src="/icons/facebook.svg" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://instagram.com/tu_usuario" target="_blank">
            <img src="/icons/instagram.svg" alt="Instagram" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <style>
    .navbar {
      background-color: #333;
      color: #fff;
      padding: 1rem;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      font-size: 1.5rem;
      text-decoration: none;
      color: #fff;
    }
    .nav-links {
      list-style: none;
      display: flex;
      gap: 1rem;
    }
    .nav-links a {
      text-decoration: none;
      color: #fff;
    }
    .nav-links img {
      width: 24px;
      height: 24px;
    }
  </style>