---
// TikTok.astro
---

<div class="widget-container">
  <h3>TikTok</h3>
  <blockquote
    class="tiktok-embed"
    cite="https://www.tiktok.com/@evoldep"
    data-unique-id="evoldep"
    data-embed-type="creator"
    style="max-width: 780px; min-width: 288px;"
  >
    <section>
      <a
        target="_blank"
        href="https://www.tiktok.com/@evoldep?refer=creator_embed">@evoldep</a
      >
    </section>
  </blockquote>
  <script async src="https://www.tiktok.com/embed.js"></script>
</div>

<style>
  .widget-container {
    width: 30%;
    overflow: hidden;
  }

  h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 768px) {
    .widget-container {
    width: 90%;

    overflow: hidden;
  }

  h3 {
    font-size: 1.5rem;
  }
  }
</style>
