---
// TikTok.astro
---

<div class="widget-container">
  <h3>TikTok</h3>
  <blockquote
    class="tiktok-embed"
    cite="https://www.tiktok.com/@evoldep"
    data-unique-id="evoldep"
    data-embed-type="creator"
    style="max-width: 780px; min-width: 288px;"
  >
    <section>
      <a
        target="_blank"
        href="https://www.tiktok.com/@evoldep?refer=creator_embed">@evoldep</a
      >
    </section>
  </blockquote>
  <script async src="https://www.tiktok.com/embed.js"></script>
</div>

<style>
  .widget-container {
    width: 30%;
    overflow: hidden;
  }
</style>
